<% include header %>
    <div class="site-main-container">
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="hero-nav-area">
                            <h1 class="text-white">
                                <%=tags%>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End top-post Area -->
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start latest-post Area -->
                        <div class="latest-post-wrap">
                            <h4 class="cat-title">
                                Tag:
                                <%=tags%>
                            </h4>
                            <%if(user){%>
                                <% data.forEach(function(i){%>
                                    <%if(user.Loai==0){%>
                                        <%if(i.CheDo==1){%>
                                            <div class="single-latest-post row align-items-center" onclick="document.getElementById('id03').style.display='block'" style="width:auto">
                                                <div class="col-lg-5 post-left">
                                                    <div class="feature-img relative">
                                                        <div class="overlay overlay-bg"></div>
                                                        <a>
                                            <img class="img-fluid" src="<%= i.AnhDaiDien%>" alt="Card image cap">
                                        </a>
                                                    </div>
                                                    <ul class="tags">
                                                        <li>
                                                            <a href="/<%=i.TenChuDe%>/page=1">
                                                                <%= i.TenChuDe%>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-7 post-right">
                                                    <a>
                                                        <h4>
                                                            <%if(i.CheDo==1){%>
                                                                <span class="badge badge-warning">Premium</span>
                                                                <%}%>
                                                                    <%= i.TieuDe%>
                                                        </h4>
                                                    </a>
                                                    <ul class="meta">
                                                        <li><a href="#"><span class="lnr lnr-user"></span><%=i.TacGia%></a></li>
                                                        <li id="tr"><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a>
                                                        </li>

                                                        <li><a href="#"><span class="lnr lnr-eye"></span><%=i.SoLuotXem%></a></li>
                                                    </ul>
                                                    <p class="excert">
                                                        <%= i.TomTat%>
                                                    </p>
                                                    <p>
                                                        <% Tags.forEach(function(j){%>
                                                            <%if(j.IDBaiViet==i.ID){%>
                                                                <a href="/Tags= <%=j.TenTags%>" class="badge badge-primary">
                                                                    <%=j.TenTags%>
                                                                </a>
                                                                <%}%>
                                                                    <%});%>

                                                    </p>
                                                </div>
                                            </div>
                                            <%}else{%>
                                                <div class="single-latest-post row align-items-center">
                                                    <div class="col-lg-5 post-left">
                                                        <div class="feature-img relative">
                                                            <div class="overlay overlay-bg"></div>
                                                            <a href="/BaiViet/<%=i.ID%>">
                                                    <img class="img-fluid" src="<%= i.AnhDaiDien%>" alt="Card image cap">
                                                </a>
                                                        </div>
                                                        <ul class="tags">
                                                            <li>
                                                                <a href="/<%=i.TenChuDe%>/page=1">
                                                                    <%= i.TenChuDe%>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-7 post-right">
                                                        <a href="/BaiViet/<%=i.ID%>">
                                                            <h4>
                                                                <%if(i.CheDo==1){%>
                                                                    <span class="badge badge-warning">Premium</span>
                                                                    <%}%>
                                                                        <%= i.TieuDe%>
                                                            </h4>
                                                        </a>
                                                        <ul class="meta">
                                                            <li><a href="#"><span class="lnr lnr-user"></span><%=i.TacGia%></a></li>
                                                            <li id="tr"><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a>
                                                            </li>

                                                            <li><a href="#"><span class="lnr lnr-eye"></span><%=i.SoLuotXem%></a></li>
                                                        </ul>
                                                        <p class="excert">
                                                            <%= i.TomTat%>
                                                        </p>
                                                        <p>
                                                            <% Tags.forEach(function(j){%>
                                                                <%if(j.IDBaiViet==i.ID){%>
                                                                    <a href="/Tags= <%=j.TenTags%>" class="badge badge-primary">
                                                                        <%=j.TenTags%>
                                                                    </a>
                                                                    <%}%>
                                                                        <%});%>

                                                        </p>
                                                    </div>
                                                </div>
                                                <%}}else{%>
                                                    <div class="single-latest-post row align-items-center">
                                                        <div class="col-lg-5 post-left">
                                                            <div class="feature-img relative">
                                                                <div class="overlay overlay-bg"></div>
                                                                <a href="/BaiViet/<%=i.ID%>">
                                                            <img class="img-fluid" src="<%= i.AnhDaiDien%>" alt="Card image cap">
                                                        </a>
                                                            </div>
                                                            <ul class="tags">
                                                                <li>
                                                                    <a href="/<%=i.TenChuDe%>/page=1">
                                                                        <%= i.TenChuDe%>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-7 post-right">
                                                            <a href="/BaiViet/<%=i.ID%>">
                                                                <h4>
                                                                    <%if(i.CheDo==1){%>
                                                                        <span class="badge badge-warning">Premium</span>
                                                                        <%}%>
                                                                            <%= i.TieuDe%>
                                                                </h4>
                                                            </a>
                                                            <ul class="meta">
                                                                <li><a href="#"><span class="lnr lnr-user"></span><%=i.TacGia%></a></li>
                                                                <li id="tr"><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a>
                                                                </li>

                                                                <li><a href="#"><span class="lnr lnr-eye"></span><%=i.SoLuotXem%></a></li>
                                                            </ul>
                                                            <p class="excert">
                                                                <%= i.TomTat%>
                                                            </p>
                                                            <p>
                                                                <% Tags.forEach(function(j){%>
                                                                    <%if(j.IDBaiViet==i.ID){%>
                                                                        <a href="/Tags= <%=j.TenTags%>" class="badge badge-primary">
                                                                            <%=j.TenTags%>
                                                                        </a>
                                                                        <%}%>
                                                                            <%});%>

                                                            </p>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                                        <%});%>
                                                            <%}else{%>
                                                                <% data.forEach(function(i){%>
                                                                    <%if(i.CheDo==1){%>
                                                                        <div class="single-latest-post row align-items-center" onclick="document.getElementById('id03').style.display='block'" style="width:auto">
                                                                            <div class="col-lg-5 post-left">
                                                                                <div class="feature-img relative">
                                                                                    <div class="overlay overlay-bg"></div>
                                                                                    <a>
                                                                                <img class="img-fluid" src="<%= i.AnhDaiDien%>" alt="Card image cap">
                                                                            </a>
                                                                                </div>
                                                                                <ul class="tags">
                                                                                    <li>
                                                                                        <a href="/<%=i.TenChuDe%>/page=1">
                                                                                            <%= i.TenChuDe%>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-lg-7 post-right">
                                                                                <a>
                                                                                    <h4>
                                                                                        <%if(i.CheDo==1){%>
                                                                                            <span class="badge badge-warning">Premium</span>
                                                                                            <%}%>
                                                                                                <%= i.TieuDe%>
                                                                                    </h4>
                                                                                </a>
                                                                                <ul class="meta">
                                                                                    <li><a href="#"><span class="lnr lnr-user"></span><%=i.TacGia%></a></li>
                                                                                    <li id="tr"><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a>
                                                                                    </li>

                                                                                    <li><a href="#"><span class="lnr lnr-eye"></span><%=i.SoLuotXem%></a></li>
                                                                                </ul>
                                                                                <p class="excert">
                                                                                    <%= i.TomTat%>
                                                                                </p>
                                                                                <p>
                                                                                    <% Tags.forEach(function(j){%>
                                                                                        <%if(j.IDBaiViet==i.ID){%>
                                                                                            <a href="/Tags= <%=j.TenTags%>" class="badge badge-primary">
                                                                                                <%=j.TenTags%>
                                                                                            </a>
                                                                                            <%}%>
                                                                                                <%});%>

                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <%}else{%>
                                                                            <div class="single-latest-post row align-items-center">
                                                                                <div class="col-lg-5 post-left">
                                                                                    <div class="feature-img relative">
                                                                                        <div class="overlay overlay-bg"></div>
                                                                                        <a href="/BaiViet/<%=i.ID%>">
                                                                                        <img class="img-fluid" src="<%= i.AnhDaiDien%>" alt="Card image cap">
                                                                                    </a>
                                                                                    </div>
                                                                                    <ul class="tags">
                                                                                        <li>
                                                                                            <a href="/<%=i.TenChuDe%>/page=1">
                                                                                                <%= i.TenChuDe%>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="col-lg-7 post-right">
                                                                                    <a href="/BaiViet/<%=i.ID%>">
                                                                                        <h4>
                                                                                            <%if(i.CheDo==1){%>
                                                                                                <span class="badge badge-warning">Premium</span>
                                                                                                <%}%>
                                                                                                    <%= i.TieuDe%>
                                                                                        </h4>
                                                                                    </a>
                                                                                    <ul class="meta">
                                                                                        <li><a href="#"><span class="lnr lnr-user"></span><%=i.TacGia%></a></li>
                                                                                        <li id="tr"><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a>
                                                                                        </li>

                                                                                        <li><a href="#"><span class="lnr lnr-eye"></span><%=i.SoLuotXem%></a></li>
                                                                                    </ul>
                                                                                    <p class="excert">
                                                                                        <%= i.TomTat%>
                                                                                    </p>
                                                                                    <p>
                                                                                        <% Tags.forEach(function(j){%>
                                                                                            <%if(j.IDBaiViet==i.ID){%>
                                                                                                <a href="/Tags= <%=j.TenTags%>" class="badge badge-primary">
                                                                                                    <%=j.TenTags%>
                                                                                                </a>
                                                                                                <%}%>
                                                                                                    <%});%>

                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <%}%>

                                                                                <%});%>
                                                                                    <%}%>

                        </div>
                        <!-- End latest-post Area -->
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebars-area">
                            <% include XemNhieu %>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End latest-post Area -->
    </div>

    <!-- start footer Area -->
    <% include footer %>