<% include header %>
    <div class="site-main-container">
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-nav-area">
                            <h1 class="text-white">
                                <%=data.ChuDe%>
                            </h1>
                            <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span>
                                <a href="/<%=data.TenTheLoai%>/show=1">
                                    <%=data.TenTheLoai%>
                                </a><span class="lnr lnr-arrow-right"></span>
                                <a href="/<%=data.ChuDe%>/page=1">
                                    <%=data.ChuDe%>
                                </a>
                            </p>
                        </div>
                        <a href="/">
                            <i onclick="document.getElementById('id01').style.display='block'" style="width:auto">hahaha</i>
                        </a>

                    </div>
                </div>
            </div>
        </section>
        <!-- End top-post Area -->
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start single-post Area -->
                        <div class="single-post-wrap">
                            <div class="content-wrap">
                                <ul class="tags mt-10">
                                    <li>
                                        <a href="/<%=data.ChuDe%>/page=1">
                                            <%=data.ChuDe%>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <%=data.TieuDe%>
                                </h3>
                                <ul class="meta pb-20">
                                    <li><a href="#"><span class="lnr lnr-user"></span><%=data.TacGia%></a></li>
                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span><%=data.GioDang%></a></li>
                                    <li><a href="#"><span class="lnr lnr-eye"></span><%=data.SoLuotXem%> </a></li>
                                </ul>

                            </div>
                            <!-- End single-post Area -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <!-- start footer Area -->
    <% include footer %>