<% include headeradmin %>
<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Edit Profile</h4>
                            <%if(mess){ %>
                                <h4 class="title"><%=mess%></h4>
                            <%}%>
                        </div>
                        <div id="info" class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Company (disabled)</label>
                                            <input type="text" class="form-control" disabled placeholder="Company" value="SQ-News">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tên Đăng Nhập</label>
                                            <input type="text" class="form-control" placeholder="Company" value="<%=NguoiDung.TenDangNhap%>">
                                        </div>
                                    </div>
                                </div>
                                <a id="btnDoiMatKhau"
                                onclick="document.getElementById('MatKhau').style.display='block',document.getElementById('info').style.display='none'"
                              
                                class="btn btn-warning btn-fill">Đổi Mật Khẩu
                            </a>
                            </form>      
                        </div>
                        <div id="MatKhau" class="content" style="display:none">
                                <span onclick="document.getElementById('MatKhau').style.display='none',document.getElementById('info').style.display='block'" class="close"
                                title="Close Modal">&times;</span>
                                <form action="./account" method="post" novalidate id="formDoiMatKhau">
                                    <form action="" method="post" novalidate id="formDoiMatKhau">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nhập Mật Khẩu Hiện Tại</label>
                                                <input  name="MK" type="text" class="form-control">
                                                <input name="ID" type="text" class="form-control" value="<%=NguoiDung.ID%>">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nhập Mật Khẩu</label>
                                                <input id="MatKhauMoi" name="MatKhauMoi" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Nhập Lại Mật Khẩu</label>
                                                    <input name="confirm" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    <button id="btnDoiMatKhau"
                                    onclick="document.getElementById('#').style.display='block'"
                                    class="btn btn-warning btn-fill">Đổi Mật Khẩu
                                   </button>
                                </form>
                                
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="<%=NguoiDung.AnhDaiDien%>" alt="..." />

                                    <h4 class="title"><%=NguoiDung.TenDangNhap%><br />
                                    </h4>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%include footeradmin%>