<% include headeradmin %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh Sách Các Bài Báo</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <div class="row">
                            <div class="col-sm-10">
                                <div id="example1_filter" class="dataTables_filter"><label>Search:
                                        <input type="search" placeholder="" aria-controls="example1"></label></div>
                            </div>
                        </div>
                        <table id="table" class="table table-hover table-striped">
                            <thead>
                                <th>News ID</th>
                                <th>Tiêu Đề</th>
                                <th>Tác Giả</th>
                                <th>Chuyên Mục</th>
                                <th>Ngày Đăng</th>
                                <th>Tình Trạng</th>
                                <th>Duyệt</th>
                            </thead>
                            <tbody>
                                <%BaiViet.forEach(function(item){%>
                                <tr>
                                    <td>
                                        <%=item.ID%>
                                    </td>
                                    <td>
                                        <%=item.TieuDe%>
                                    </td>
                                    <td>
                                        <%=item.TacGia%>
                                    </td>
                                    <td>
                                        <%=item.ChuDe%>
                                    </td>
                                    <td>
                                        <%=item.GioDang%>
                                    </td>
                                    <%if(item.TrangThai==1){%>
                                        <td><span class="label label-success ">Đã xuất bản</span></td>
                                        <%}else if(item.TrangThai==2){%>
                                        <td><span class="label label-primary ">Đã được duyệt & chờ xuất bản</span></td>
                                        <%}else if(item.TrangThai==3){%>
                                            <td><span class="label label-warning ">Chưa được duyệt</span></td>
                                            <%}else if(item.TrangThai==4){%>
                                            <td><span class="label label-danger ">Bị từ chối</span></td>
                                            <% }%>
                                    <td>
                                        <a href="/admin/duyetbaiviet/id=<%=item.ID%>">Duyệt</a>
                                    </td>
                                </tr>
                                <%})%>


                            </tbody>
                        </table>

                    </div>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        <li class="page-item ">
                            <a class="page-link" href="/admin/BaiViet/show=<%=show-1%>" tabindex="0">Previous</a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="/admin/BaiViet/show=<%=show%>">
                                <%=show%>
                            </a>
                        </li>
                        <%if(BaiViet.length < 5){%>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <%=show+1%>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <%=show+2%>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        <%}else{%>
                        <li class="page-item">
                            <a class="page-link" href="/admin/BaiViet/show=<%=show+1%>">
                                <%=show+1%>
                            </a>
                        </li>
                        <li class="page-item">

                            <a class="page-link" href="/admin/BaiViet/show=<%=show+2%>">
                                <%=show+2%>
                            </a>

                        </li>
                        <li class="page-item">

                            <a class="page-link" href="/admin/BaiViet/show=<%=show+1%>">Next</a>
                        </li>

                        <%}%>




                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <%include footeradmin%>