<% include headeradmin %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            <%=SoBaiViet%>
                        </h3>

                        <p>Bài Viết</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-paper"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            <%=SoChuDe%><sup style="font-size: 20px"></sup></h3>
                        <p>Chuyên Mục</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            <%=SoNguoiDung%>
                        </h3>

                        <p>Người Dùng</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <%SLX.forEach(function(i){%>
                        <h3>
                            <%=i.SoLuotXem%>
                        </h3>
                        <p>Số Lượt Xem</p>
                        <% })%>
                    </div>
                    <div class="icon">
                        <i class="ion-android-people"></i>
                    </div>

                </div>
            </div>
            <!-- ./col -->
        </div>


        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Quản Lý Bài Viết</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <canvas id="myChart"></canvas>
                <script>
                    var myVar = JSON.parse('<%-JSON.stringify(TK) %>');
                    var lab = [];
                    var dat = [];
                    for (let i = 0; i < myVar.length; i++) {
                        lab.push(myVar[i].tenchude);
                        dat.push(myVar[i].slbv);
                    }
                    let ctx = document.getElementById('myChart').getContext('2d');
                    let chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'bar',
                        // The data for our dataset
                        data: {
                            labels: lab,
                            datasets: [{
                                label: 'Số lượng Bài Viết',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: dat
                            }]
                        },
                        // Configuration options go here
                        options: {
                            title: {
                                display: true,
                                text: 'Thống kế bài viết theo chủ đề',
                                fontSize: 25
                            },
                            legend: {
                                display: true,
                                position: 'right',
                                labels: {
                                    fontColor: '#000'
                                }
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 0,
                                    bottom: 0,
                                    top: 0
                                }
                            },
                            tooltips: {
                                enabled: true
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

            </div>

        </div>


    </div>
</div>

</div>
<%include footeradmin%>