<% include headeradmin %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>
                                <%=SoBaiViet%>
                            </h3>

                            <p>Bài Viết</p>
                        </div>
                        <div class="icon">
                            <i class="ion-ios-paper"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                <%=SoChuDe%><sup style="font-size: 20px"></sup></h3>
                            <p>Chuyên Mục</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>
                                <%=SoNguoiDung%>
                            </h3>

                            <p>Người Dùng</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <%SLX.forEach(function(i){%>
                                <h3>
                                    <%=i.SoLuotXem%>
                                </h3>
                                <p>Số Lượt Xem</p>
                                <% })%>
                        </div>
                        <div class="icon">
                            <i class="ion-android-people"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Quản Lý Người Dùng</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Họ Tên</th>
                                        <th>Email</th>
                                        <th>SĐt</th>
                                        <th>Quyền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-warning">Premium</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-warning">Premium</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-warning">Premium</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-warning">Premium</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-warning">Premium</span></td>
                                    </tr>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Quản Lý Phóng Viên - Biên Tập Viên</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên Chuyên Mục</th>
                                        <th>Email</th>
                                        <th>SĐt</th>
                                        <th>Chức Vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-success">BTV</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-success">BTV</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-info">Phóng Viên</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-info">Phóng Viên</span></td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>Minh Quân</td>
                                        <td>ABC@gmail.com</td>
                                        <td>0123456789</td>
                                        <td><span class="label label-info">Phóng Viên</span></td>
                                    </tr>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Quản Lý Bài Viết</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>News ID</th>
                                    <th>Tiêu Đề</th>
                                    <th>Tác Giả</th>
                                    <th>Chuyên Mục</th>
                                    <th>Nhãn Tag</th>
                                    <th>Ngày Đăng</th>
                                    <th>Tình Trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%BaiViet.forEach(function(item){%>
                                    <%  if(item.TrangThai==2){%>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <%=item.ID%>
                                                </a>
                                            </td>
                                            <td>
                                                <%=item.TieuDe%>
                                            </td>
                                            <th>
                                                <%=item.TacGia%>
                                            </th>
                                            <td>
                                                <%=item.ChuDe%>
                                            </td>
                                            <td>#SonTung, #Vpop</td>
                                            <td>
                                                <%=item.GioDang%>
                                            </td>
                                            <%if(item.TrangThai==1){%>
                                                <td><span class="label label-success">Xuất Bản</span></td>
                                                <% }else if(item.TrangThai==2){%>
                                                    <td><span class="label label-danger">Draft</span></td>
                                                    <%  }%>
                                        </tr>
                                        <%  }%>
                                            <% })%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All
                                Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>


        </div>
    </div>

    </div>
    <%include footeradmin%>