<% include headeradmin %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Danh Sách Người Đọc</h4>

                        </div>
                        <div class="content table-responsive table-full-width">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div id="example1_filter" class="dataTables_filter"><label>Search:
                                                    <input type="search" placeholder=""
                                                        aria-controls="example1"></label></div>
                                </div>


                            </div>
                            <table id="table1" class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Họ Tên</th>
                                    <th>Quyền</th>
                                    <th>Gia Hạn</th>
                                </thead>
                                <tbody>
                                    <%NguoiDung.forEach(function(i){%>
                                        <%if(i.Loai==1){%>
                                            <tr>
                                                <td>
                                                    <%=i.ID%>
                                                </td>
                                                <td>
                                                    <%=i.TenDangNhap%>
                                                </td>
                                                <td><span class="label label-warning">Premium</span></td>
                                               
                                                <td><button id="btnGiaHan" onclick="document.getElementById('GiaHan').style.display='block'" type="submit" class="btn btn-info btn-fill">Gia Hạn</button>
                                                </td>
                                            </tr>
                                            <% }%>

                                                <% })%>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Danh Sách Biên Tập Viên - Phóng Viên</h4>

                        </div>
                        <div class="content table-responsive table-full-width">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div id="example1_filter" class="dataTables_filter"><label>Search:
                                                    <input type="search" placeholder=""
                                                        aria-controls="example1"></label></div>
                                </div>
                                <div class="col-sm-2">
                                    <button onclick="document.getElementById('#').style.display='block'" type="button" rel="tooltip" title="Add" class="btn btn-simple btn-xs">
                                                Thêm<i class="fa fa-plus"></i>
                                            </button>
                                </div>

                            </div>
                            <table id="table" class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Họ Tên</th>
                                    <th>Chức Vụ</th>
                                    <th>Phân Công</th>
                                    <th>Xóa</th>
                                </thead>
                                <tbody>
                                    <%NguoiDung.forEach(function(i){%>
                                        <%if(i.Loai==2 || i.Loai==3){%>
                                            <tr>
                                                <td>
                                                    <%=i.ID%>
                                                </td>
                                                <td>
                                                    <%=i.TenDangNhap%>
                                                </td>

                                                <%if(i.Loai==3){%>
                                                    <td><span class="label label-success">BTV</span></td>
                                                    <td><button id="btnPhanCong" onclick="document.getElementById('PhanCong').style.display='block'" type="submit" class="btn btn-warning btn-fill">Phân
                                                        Công</button></td>
                                                    <%}else{%>
                                                        <td><span class="label label-info">Phóng Viên</span></td>
                                                        <td></td>
                                                        <% }%>

                                                            <td class="td-actions">
                                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                            </td>
                                            </tr>
                                            <% }%>
                                                <% })%>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
            <div id="PhanCong" class="modal">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <span onclick="document.getElementById('PhanCong').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <div class="header">
                                        <h4 class="title">Phân Công</h4>

                                    </div>
                                    <div class="content">
                                        <form action="/admin/PhanCong" method="post" novalidate id="AddChuDe">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Họ Tên</label>
                                                        <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap" placeholder="Họ Tên">
                                                        <input type="text" class="form-control" id="IDBTV" name="IDBTV" placeholder="IDBTV">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Chức Vụ</label>
                                                        <input type="text" class="form-control" id="ChucVu" name="ChucVu" placeholder="Biên Tập Viên">
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control select2" name="PhanCongTheLoai" style="width: 100%;">
                                                                    <%TheLoai.forEach(function(item){%>
                                                                    <option value="<%=item.ID%>"><%=item.TenTheLoai%></option>
                                                                    <% })%>
                                                                </select>
                                                    </div>


                                                </div>


                                            </div>
                                            <button type="submit" class="btn btn-info btn-fill pull-right">Phân
                                                        Công </button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div id="GiaHan" class="modal">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <span onclick="document.getElementById('GiaHan').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <div class="header">
                                        <h4 class="title">Gia Hạn</h4>

                                    </div>
                                    <div class="content">
                                        <form action="/admin/GiaHanDocGia" method="post" novalidate id="AddChuDe">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Họ Tên</label>
                                                        <input type="text" class="form-control" id="TenDocGia" name="TenDocGia" placeholder="Họ Tên">
                                                        <input type="text" class="form-control" id="IDDocGia" name="IDDocGia" placeholder="IDBTV">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Ngày gia hạn</label>
                                                        <input type="date" class="form-control" id="Ngay" name="Ngay" placeholder="">
                                                    </div>



                                                </div>


                                            </div>
                                            <button type="submit" class="btn btn-info btn-fill pull-right">Gia
                                                        Hạn</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    <%include footeradmin%>