<%include headeradmin%>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh Sách Bài Viết</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding ">
                    <table class="table table-hover ">
                        <tr>
                            <th>ID</th>
                            <th>Tiêu Đề</th>
                            <th>Ngày Gửi</th>
                            <th>Tình Trạng</th>
                            <th>Chuyên Mục</th>
                            <th>Sửa</th>
                        </tr>

                        <%BaiViet.forEach(function(item){%>
                            <tr>
                                <td>
                                    <%=item.ID%>
                                </td>
                                <td>
                                    <%=item.TieuDe%>
                                </td>
                                <td>
                                    <%=item.GioDang%>
                                </td>
                                <%if(item.TrangThai==1){%>
                                    <td><span class="label label-success ">Đã xuất bản</span></td>
                                    <%}else if(item.TrangThai==2){%>
                                        <td><span class="label label-primary ">Đã được duyệt & chờ xuất bản</span></td>
                                        <%}else if(item.TrangThai==3){%>
                                            <td><span class="label label-warning ">Chưa được duyệt</span></td>
                                            <%}else if(item.TrangThai==4){%>
                                                <td><span class="label label-danger ">Bị từ chối</span></td>
                                                <% }%>

                                                    <td>
                                                        <%=item.ChuDe%>
                                                    </td>
                                                    <td class="td-actions">
                                                        <%if(item.TrangThai==4||item.TrangThai==3){%>
                                                            <a href="/PV_BTV/VietBai_PV/id=<%=item.ID%>">
                                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                            </a>
                                                            <%}%>
                                                    </td>
                            </tr>
                            <%})%>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    <li class="page-item ">
                        <a class="page-link" href="/PV_BTV/PV/show=<%=show-1%>" tabindex="0">Previous</a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="/PV_BTV/PV/show=<%=show%>">
                            <%=show%>
                        </a>
                    </li>
                    <%if(BaiViet.length < 5){%>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <%=show+1%>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <%=show+2%>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        <%}else{%>
                            <li class="page-item">
                                <a class="page-link" href="/PV_BTV/PV/show=<%=show+1%>">
                                    <%=show+1%>
                                </a>
                            </li>
                            <li class="page-item">

                                <a class="page-link" href="/PV_BTV/PV/show=<%=show+2%>">
                                    <%=show+2%>
                                </a>

                            </li>
                            <li class="page-item">

                                <a class="page-link" href="/PV_BTV/PV/show=<%=show+1%>">Next</a>
                            </li>
                            <%}%>
                </ul>
            </nav>
            <!-- /.box -->
        </div>
    </div>

    <div class="col-xs-1"></div>
    <a href="/PV_BTV/VietBai_PV/id=0">
        <button type="submit" class="btn btn-info btn-fill">Viết Bài</button>
    </a>
    </div>
    </div>
    <% include footeradmin%>