<% include header %>
    <div class="site-main-container">
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-nav-area">
                            <h1 class="text-white">
                                <%=data.ChuDe%>
                            </h1>
                            <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span>
                                <a href="/<%=data.TenTheLoai%>">
                                    <%=data.TenTheLoai%>
                                </a><span class="lnr lnr-arrow-right"></span>
                                <a href="/ChuDe/<%=data.ChuDe%>">
                                    <%=data.ChuDe%>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End top-post Area -->
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start single-post Area -->
                        <div class="single-post-wrap">
                            <div class="content-wrap">
                                <ul class="tags mt-10">
                                    <li>
                                        <a href="/ChuDe/<%=data.ChuDe%>">
                                            <%=data.ChuDe%>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <%=data.TieuDe%>
                                </h3>
                                <ul class="meta pb-20">
                                    <li><a href="#"><span class="lnr lnr-user"></span>Hiểu Nguyệt</a></li>
                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span><%=data.GioDang%></a></li>
                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
                                </ul>
                                <%-data.NoiDung%>
                                    <p text-weight="bold" ;>Tags :
                                        <a href="/news/html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="/news/html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="/news/html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="/news/html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="/news/html/Tags_05.html" class="badge badge-warning">Warning</a>


                                    </p>
                                    <div class="comment-sec-area">
                                        <div class="container">
                                            <div class="row flex-column">
                                                    <h6>Comments</h6>
                                                <%if(BinhLuan){%>
                                                    <%BinhLuan.forEach(function(i){%>
                                                        <div class="comment-list">
                                                                <div class="single-comment justify-content-between d-flex">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb">
                                                                            <img src="/news/image/c1.jpg" alt="">
                                                                        </div>
                                                                        <div class="desc">
                                                                            <h5><%=i.TenDangNhap%></h5>
                                                                            <p class="date"><%=i.GioBinhLuan%></p>
                                                                            <p class="comment">
                                                                                <%=i.NoiDung%>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                    <%})%>
                                              <%}%>
                                              
                                                
                                             
                                            </div>
                                        </div>

                                    </div>
                                    <div class="comment-form">
                                        <h4>Post Comment</h4>
                                        <form action="/SQ/addBinhLuan" method="post">
                                            <input type="hidden" id="ID" name="ID" value="<%=data.ID%>" />
                                            <div class="form-group">
                                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                            </div>
                                            <%if(user){%>
                                                <button type="submit" id="cmt" class="primary-btn text-uppercase">Post Comment</button>
                                            <%}else{%>
                                                <label>Đăng Nhập Để Bình Luận</label>
                                            <%}%>
                                           
                                        </form>
                                       
                                    </div>
                            </div>
                            <!-- End single-post Area -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebars-area">
                            <% include XemNhieu %>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- start footer Area -->
    <% include footer %>