<% include header %>

    <div class="site-main-container">
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-nav-area">
                            <h1 class="text-white">
                                <%=ChuDe%>
                            </h1>
                            <p class="text-white link-nav"><a href="html/Trang_Chu.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                                <a href="html/Trang_Thoi_Su.html">
                                    <%=TheLoai%>
                                </a><span class="lnr lnr-arrow-right"></span>
                                <a href="html/Tag_Chinh_Tri.html">
                                    <%=ChuDe%>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End top-post Area -->
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start latest-post Area -->
                        <div class="latest-post-wrap">
                            <h4 class="cat-title">
                                <%=ChuDe%>
                            </h4>
                            <% data.forEach(function(i){%>
                                <div class="single-latest-post row align-items-center">
                                    <div class="col-lg-5 post-left">
                                        <div class="feature-img relative">
                                            <div class="overlay overlay-bg"></div>
                                            <img class="img-fluid" src="<%=i.AnhDaiDien%>" alt="Card image cap">
                                        </div>
                                        <ul class="tags">
                                            <li>
                                                <a href="/ChuDe/<%=i.TenChuDe%>">
                                                    <%= i.TenChuDe%>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7 post-right">
                                        <a href="/BaiViet/<%=i.ID%>">
                                            <h4>
                                                <%= i.TieuDe%>
                                            </h4>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-user"></span>Huyền Lê</a></li>
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                            </li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                        </ul>
                                        <p class="excert">
                                            <%= i.TomTat%>
                                        </p>
                                        <p>
                                            <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                            <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                            <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                            <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                            <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>


                                        </p>
                                    </div>
                                </div>
                                <%});%>

                                    </br>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>

                        </div>
                        <!-- End latest-post Area -->
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebars-area">
                            <div class="single-sidebar-widget most-popular-widget">
                                <h6 class="title">Bài Viết Xem Nhiều</h6>
                                <% XemNhieu.forEach(function(i){%>
                                    <div class="single-list flex-row d-flex">
                                        <div class="thumb">
                                            <a href="/BaiViet/<%=i.ID%>">
                                            <img src="<%=i.AnhDaiDien%>" alt="Card image cap" width="100px" height="80px">
                                        </a>
                                        </div>
                                        <div class="details">
                                            <a href="/BaiViet/<%=i.ID%>">
                                                <h6>
                                                    <%=i.TieuDe%>
                                                </h6>
                                            </a>
                                            <ul class="meta">
                                                <li><a href="#"><span class="lnr lnr-calendar-full"></span><%=i.GioDang%></a></li>
                                                <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <%});%>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End latest-post Area -->
    </div>

    <!-- start footer Area -->
    <% include footer %>